.boardful .card {
	position: absolute;
	height: 15%;
	width: 6%;
	border: thin solid Grey;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	text-align: center;
	/* for card flip */
	transform-style: preserve-3d;
	transition: transform 1s;
}
.boardful .card:hover {
	z-index: 1;
}
.boardful .card img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.boardful .card h4 {
	visibility: hidden;
}
.boardful .card.visible h4 {
	visibility: inherit;
}
.boardful .card .front {
	visibility: hidden;
}
.boardful .card.visible .front {
	visibility: inherit;
}
.boardful .card.visible .back {
	visibility: hidden;
}
.boardful .card.flip {
	transform: rotateY( 180deg );
}
.boardful .hand .card {
	position: relative;
	top: 0%;
	left: 0%;
	height: 100%;
	float: left;
}
.boardful #myhand .card {
	width: 9%;
}
.boardful #yourhand .card {
	width: 8%;
}
.boardful #table .card {
	position: relative;
	top: 0%;
	left: 0%;
	height: 40%;
	width: 19%;
	float: left;
}