body {
	background-image: url('../../resources/background.jpg');
}
#header {
	position: fixed;
	top: 0%;
	left: 0%;
	height: 5%;
	width: 100%;
	border-bottom: thin solid black;
}
#header #logo {
	position: absolute;
	top: 0%;
	left: 0%;
	margin-left: 1em;
	font-weight: bold;
	cursor: pointer;
}
#header #navmain {
	position: absolute;
	top: 0%;
	left: 20%;
	height: 100%;
	width: 50%;
	border-left: thin solid black;
}
#header #navmain div {
	height: 100%;
	border-right: thin solid black;
	padding-left: 2%;
	padding-right: 2%;
	float: left;
	cursor: pointer;
}
#header #navsecond {
	position: absolute;
	top: 0%;
	left: 70%;
	height: 100%;
	width: 29%;
	border-right: thin solid black;
}
#header #navsecond div {
	height: 100%;
	border-left: thin solid black;
	padding-left: 2%;
	padding-right: 2%;
	float: right;
	cursor: pointer;
}
#header #sound.disable {
	text-decoration: line-through;
}
#content {
	position: absolute;
	top: 10%;
	left: 0%;
	height: 90%;
	width: 100%;
}