#content #main {
	position: absolute;
	top: 30%;
	left: 20%;
	height: 20%;
	width: 60%;
}
#content #main div {
	position: relative;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 26%;
	margin: 2%;
	float: left;
	background-color: Aquamarine;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	text-align: center;
    cursor: pointer;
}
#content #secondary {
	position: absolute;
	top: 60%;
	left: 30%;
	height: 15%;
	width: 40%;
}
#content #secondary div {
	position: relative;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 26%;
	margin: 2%;
	float: left;
	background-color: Aquamarine;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	text-align: center;
    cursor: pointer;
}
#content #main div {
	font-size: xx-large;
}
#content #secondary div {
	font-size: large;
}
